--find-links https://download.pytorch.org/whl/torch_stable.html
pytest==6.2.1
transformers==3.4.0
sphinx==3.3.1
sphinx_rtd_theme==0.5.0
breathe==4.25.1
docutils==0.16
scipy==1.5.4
torch==1.7.1+cpu; sys_platform != "darwin"
torchvision==0.8.2+cpu; sys_platform != "darwin"
torch==1.7.1; sys_platform == "darwin"
torchvision==0.8.2; sys_platform == "darwin"
tqdm==4.46.1
