--find-links https://download.pytorch.org/whl/torch_stable.html
wheel==0.34.2
pytest
transformers==3.4.0
sphinx
sphinx_rtd_theme==0.5.0
breathe
scipy
torch==1.7.1+cpu; sys_platform != "darwin"
torchvision==0.8.2+cpu; sys_platform != "darwin"
torch==1.7.1; sys_platform == "darwin"
torchvision==0.8.2; sys_platform == "darwin"
