# IMPORTANT: Keep requirements in sync with ./config.buildenv.py

--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2

expecttest==0.1.3
lit==0.11.1
pytest==6.2.5
setuptools==65.5.1
tqdm==4.46.1
transformers==4.12.2
typing-extensions==4.1.1
# Use old version for wheel.pep425tags support (new versions removed it).
wheel<0.35

-r poptorch_geometric/requirements.txt